:root{
    --default-font-family: 'Nunito', sans-serif;
    --dark-violet: #662eed;
}
body {  
    max-width: 100%;
}
nav{
    padding: 40px 140px;
}
nav ul {
padding: 0;
margin: 0;
}

li {
    list-style: none;
}
nav li {
  margin-left: 15px;
  line-height: 42px;
    display: inline;
}

nav a {
    color: #272044;
    text-decoration: none;
    transition: all 100ms ease-in-out;
}

nav a.active {
    color: var(--dark-violet);
}

nav a:hover {
   color: var(--dark-violet);
   text-decoration: underline;
}

nav .logo {
    max-width: 150px;
    max-height: 40px;
}

.content h1 {
    font-family: var(--default-font-family);
    font-weight: 700;
    font-size: 72px;
    text-align: center;
    line-height: 98px;
    color: #272142;
}

.content h2 {
    font-family: var(--default-font-family);
    font-weight: 700;
    font-size: 64px;
    line-height: 87px;
    color: #272142;
}

.content h3{
    font-family: var(--default-font-family);
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    line-height: 49px;
    color: #272142;
}
.content h4{
    font-family: var(--default-font-family);
    font-weight: 700;
    color: #272142;  
}

.content.about-page h4 {
 font-size: 24px;
 line-height: 33px;
}
.content.recipe-page h4 {
    font-size: 36px;
    line-height: 49px;
}

.content h5 {
    font-family: var(--default-font-family);
    font-weight: 700;
}
.content.recipe-page h5 {
   font-size: 24px;
   line-height: 33px;
}
.content h6{
    font-family: var(--default-font-family);
    font-size: 18px;
    line-height: 25px;
}

.content.contact-page h6 {
    color: #662EED;
    font-weight: 700;
    margin-bottom: 20px;
}

.content.recipe-page h6 {
    color: #F65282;
    font-weight: 800;
}

.content p {
    font-family: var(--default-font-family);
    line-height: 30px;  
}

.content.recipe-page p, .about-description p {
    font-size: 18px;
    font-weight: 400;
}

.about-description .social-links p {
font-weight: 700;
}

.favorite-recipe p {
    font-size: 16px;
    font-weight: 400;
}
.content.contact-page p {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 50px;
}

.contact-information {
    margin-top: 50px;
}

.contact-information i {
   font-weight: 900;
}

.content.about-page h1 {
padding: 26px 557px 126px 557px;
}

.about-description img {
    margin: 0 40px 100px 240px;
}
.content.about-page h2 {
    margin-right: 240px;
    padding: 36px 0;
}
.content.about-page h3 {
    padding: 0 591px 41px 591px;
}
.about-description p {
    margin: 0 240px 52px 0;
}
.content.about-page i {
    padding-left: 30px;
}

.content.about-page .social-links {
    margin: 0 478px 36px 0;
}

.favorite-recipe {
    margin: 0 140px 100px 140px;
}

.favorite-recipe img {
    margin-bottom: 20px;
    width: 100%;
}

.favorite-recipe h4 {
    margin-bottom: 20px
}
.content.recipe-page {
    margin: 0 413px 150px 267px;
}
.content.recipe-page hr {
   border: 1px dashed #67D5D2;
}

.content.recipe-page h1 {
    padding: 53px 0 66px 0;
}

.content.recipe-page img {
    margin: 60px 0 42px 0;
}
.content.recipe-page h4 {
    margin-bottom: 32px;
}

.content.recipe-page h5 {
    margin-bottom: 25px;
}

.content.recipe-page h6 {
    margin-bottom: 14px;
}

.ingredients{
margin-top: 38px;
}
.steps {
    margin-top: 38px;
}

.step-2{
    margin-top: 40px;
}
.content.contact-page {
    margin: 0 0 100px 167px;
}
.content.contact-page h1 {
    padding: 53px 0 126px 0;
}
.content.contact-page img {
    max-width: 460px;
}
.content.contact-page i {
    margin-right: 30px;
}
.hero {
    margin-bottom: 100px; 
}

.hero h1, .hero p {
    text-align: center;
}

.hero h1{
    font-size: 72px;
    line-height: 98px;
 }
.hero p {
    font-size: 24px;
    line-height: 35px;
}

.recipe-home img {
    max-width: 100%;
    
}

.recipe-home p {
    font-size: 28px;
    margin: 20px 0 50px 0
}
.homepage-header {
    padding: 46px;
}

.footer{
    background-color:#F9F7FE;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    max-width: 100%;
    padding: 40px 140px;
  
}

.footer p {
    font-size: 18px;
}
.footer .col {
    padding: 0;
}
.social-link{
    padding: 0 15px;
}

@media (max-width: 1428px) {
 
    nav{
        padding: 12px 52px;
    }

    .homepage-header {
        padding: 23px 0;
    }

    .hero {
        margin-bottom: 22px;
    }

    .hero h1 {
        font-size: 46px;
        
    }

    .hero p {
        font-size: 18px;
    }
    .recipe-home p {
        font-size: 18px;
    }
    .footer p {
        font-size: 12px;
    }
    .footer{
    
        padding: 40px 60px;
      
    }
    
    .social-link{
        padding: 0 5px;
}
}


@media (max-width: 900px) {
    .hero h1 {
        font-size: 26px;
        line-height: 68px;
    }

    .hero p {
        font-size: 12px;
    }
    .homepage-header {
        padding: 8px 0;
    }

    .card-title {
        margin-bottom: 0;
    }
}

@media (max-width: 633px) {
    
    .recipe-home p {
        font-size: 12px;
        margin: 16px 0 22px 0
    }

    .hero h1 {
        font-size: 16px;
        line-height: 32px;
    }

    .hero p {
        font-size: 8px;
        line-height: 18px;
    }
    .homepage-header {
        padding: 4px 0;
    }

}