:root{
    --default-font-family: 'Nunito', sans-serif;
    --primary-color: #272142;
    --branding-color: #662eed;
}

body {  
    max-width: 100%;
}

li {
    list-style: none;
}

nav{
    padding: 51px 140px 62px 140px;
    background-color:#F9F7FE;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav li {
    margin-left: 15px;
    line-height: 42px;
    display: inline;
}

nav a {
    color: var(--primary-color);
    text-decoration: none;
    font-family: var(--default-font-family);
    font-size: 16px;
    font-weight: 700;
    transition: all 100ms ease-in-out;
}

nav a.active {
    color: var(--branding-color);
}

nav a:hover {
   color: var(--branding-color);
   text-decoration: underline;
}

nav .logo {
    max-height: 25px;
    position: relative;
    top: 8px;
}

.homepage-header {
    padding: 46px 0;
}

.hero {
    margin-bottom: 100px; 
}

.hero h1, .hero p {
    text-align: center;
}

.hero h1{
    font-size: 72px;
    line-height: 98px;
    margin-bottom: 4px;
 }

.hero p {
    font-size: 24px;
    line-height: 35px;
    padding: 0 439px;
}

.recipe-home {
 padding: 0 80px;
}

.recipe-home img {
    max-width: 100%;
    
}

.recipe-home h5 {
    font-size: 28px;
    line-height: 38px;
    margin: 20px 0 50px 0;
}

.content h1 {
    font-family: var(--default-font-family);
    font-weight: 700;
    font-size: 72px;
    text-align: center;
    line-height: 98px;
    color: var(--primary-color);
}

.content h2 {
    font-family: var(--default-font-family);
    font-weight: 700;
    font-size: 64px;
    line-height: 87px;
    color: var(--primary-color);
}

.content h3{
    font-family: var(--default-font-family);
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    line-height: 49px;
    color: var(--primary-color);
}

.content h4{
    font-family: var(--default-font-family);
    font-weight: 700;
    color: var(--primary-color);
}

.content h5 {
    font-family: var(--default-font-family);
    font-weight: 700;
}

.content h6{
    font-family: var(--default-font-family);
    font-size: 18px;
    line-height: 25px;
}

.content p {
    font-family: var(--default-font-family);
    line-height: 30px;  
}

.content.about-page h1 {
    padding: 26px 0  126px 0;
    }

.content.about-page h2 {
        padding: 36px 0;
    }
.content.about-page h3 {
        padding: 100px 0 41px 0;
    }
.about-description p {
        margin: 0 240px 52px 0;
    }
.content.about-page i {
        padding-left: 30px;
    }

.about-description img {
    padding-right: 16px;
}
.about-description .social-links p {
font-weight: 700;
}

.favorite-recipe {
    margin: 0 68px 100px 68px;
}

.favorite-recipe p {
    font-size: 16px;
    font-weight: 400;
}

.favorite-recipe col {
    padding: 0;
}

.favorite-recipe img {
    margin-bottom: 20px;
    width: 100%;
}

.favorite-recipe h4 {
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 20px
}

.about-description p, .content.recipe-page p {
    font-size: 18px;
    font-weight: 400;
}

.content.recipe-page {
    margin: 0 413px 150px 267px;
}
.content.recipe-page hr {
   border: 1px dashed #67D5D2;
}

.content.recipe-page h1 {
    padding: 53px 0 66px 0;
}

.content.recipe-page img {
    margin: 60px 0 42px 0;
}
.content.recipe-page h4 {
    font-size: 36px;
    line-height: 49px;
    margin-bottom: 32px;
}

.content.recipe-page h6 {
    margin-bottom: 14px;
}

.ingredients{
margin-top: 38px;
}
.steps {
    margin-top: 38px;
}

.step-2{
    margin-top: 40px;
}

.content.recipe-page h5 {
    margin-bottom: 25px;
   font-size: 24px;
   line-height: 33px;
}

.content.recipe-page h6 {
    color: #F65282;
    font-weight: 800;
}

.content.contact-page h6 {
    color: var(--branding-color);
    font-weight: 700;
    margin-bottom: 20px;
}


.contact-information p {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 50px;
}

.contact-information {
    margin-top: 50px;
    padding: 0;
}

.contact-information i {
   font-weight: 900;
   margin-right: 10px;
}

.content.contact-page {
    margin: 0 167px 100px 167px;
}
.content.contact-page h1 {
    padding: 53px 0 126px 0;
}
.content.contact-page img {
    max-width: 460px;
    margin-right: 16px;
}

.footer{
    background-color:#F9F7FE;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    max-width: 100%;
    padding: 40px 140px;
  
}

.footer p {
    font-size: 18px;
    text-align: right;
}
.footer ul {
    padding: 0;
}
.footer li {
    display: inline;
}
.footer .col {
    padding: 0;
}

.footer .social-link{
    padding: 0 15px;
}

@media (max-width: 1024px) {
    
nav{
    padding: 25px 80px 30px 80px;
}

.homepage-header {
    padding: 16px 0;
}

.hero {
    margin-bottom: 40px; 
}

.hero h1{
    font-size: 42px;
    line-height: 68px;
 }

.hero p {
    font-size: 20px;
    padding: 0 39px;
}
   
   .recipe-home h5 {
       font-size: 20px;
       line-height: 38px;
       margin: 10px 0 50px 0;
   }
   
   .content h1 {
    font-size: 68px;
}

.content h2 {
    font-size: 52px;
}
   .content.about-page h1 {
    padding: 26px 0 64px 0;
}

.content.about-page h3 {
    padding: 80px 0 31px 0;
}
.about-description p {
    margin: 0 40px 52px 0;
}

.content.recipe-page {
    margin: 0 50px 50px 50px;
}

.content.contact-page {
    margin: 0 50px 50px 50px;
}

.footer {
    padding: 40px 80px;
}
}

@media (max-width: 768px) {
   
    .content h2 {
        font-size: 42px;
    }
    .content.about-page h2 {
        padding: 8px 0;
    }
    .content.about-page h3 {
        padding: 55px 0 31px 0;
    }
    .about-description p {
        margin: 0 15px 32px 0;
    }
    .favorite-recipe {
        margin: 0 30px 50px 30px;
    }
    .favorite-recipe p {
        font-size: 14px;
    }
    .content.recipe-page img {
        max-width: 650px;
        display: block;
        margin: 50px auto;
    }
    .content.recipe-page h1 {
        padding: 33px 0 36px 0;
    }
    .content.contact-page h1 {
        padding: 53px 0 56px 0;
    }
    .footer{
        padding: 40px 50px;
    }
    
    .footer p {
        font-size: 14px;
    }

    .footer .social-link{
        padding: 0 8px;
    }
}

@media (max-width:540px) {
    
nav{
    padding: 25px 40px 10px 40px;
}    

nav .logo {
 margin-bottom: 25px;
 left: 12px;
 max-width: 80px;
}
.hero h1{
    font-size: 28px;
    line-height: 30px;
 }
 
.hero p {
    font-size: 12px;
}
.recipe-home {
    padding: 0 40px;
}
.recipe-home h5 {
    font-size: 14px;
    line-height: 18px;
    margin: 10px 0 25px 0;
}
.content h1 {
    font-size: 38px;
}
.content.about-page h1 {
    padding-bottom: 0;
}
.content.about-page h3 {
    padding: 20px 0 31px 0;
}
.about-description {
    padding: 40px;
    text-align: center;
}

.favorite-recipe h4 {
    font-size: 14px;
    line-height: 20px;
}
.favorite-recipe p {
    font-size: 12px;
    line-height: 20px;
}
.content.recipe-page img {
    max-width: 450px;
}
.content.recipe-page h1 {
    padding: 33px 0 0 0;
}
.content.recipe-page h4 {
    font-size: 26px;
    line-height: 49px;
}
.content.recipe-page h5 {
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 23px;
}
.ingredients {
    margin-top: 18px;
}
.steps {
    margin-top: 18px;
}
.content.contact-page h1 {
    padding: 0;
}
.contact-information {
    margin-top: 20px;
}
.contact-information p {
    font-size: 18px;
}
.contact-information h6 {
font-size: 14px;
}
.footer{
    padding: 10px 30px;
}
.footer img {
    max-width: 80px;
}
.footer p {
    font-size: 11px;
    text-align: left;
}

.footer .social-link{
    padding: 0 5px;
    font-size: 12px;
}
}

@media (max-width:414px) {
   
    .footer .social-link{
        padding: 0 2px;
        font-size: 10px;
    }
}